#dependencies
/frontend/node_modules/

#IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

#logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Kotlin
.kotlin

#gradle
/backend/build/
/backend/.gradle/
/backend/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
